<mat-card class="login-card">
  <img ngSrc="assets/active-ultra-logo.png"
       alt="Logo Active Ultra"
       class="login-logo" width="256" height="256"
       priority="low"/>
  <h2 class="login-title">Entrar</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Digite seu email">

      @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email é obrigatório</mat-error>
      }
      @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Informe um email válido</mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Digite sua senha">

      @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>Senha é obrigatória</mat-error>
      }
    </mat-form-field>

    <!-- Error message -->
    @if (errorMessage) {
      <div class="error-text">{{ errorMessage }}</div>
    }

    <!-- Submit button -->
    <button mat-raised-button color="primary" class="full-width login-btn" [disabled]="loading">
      {{ loading ? 'Entrando...' : 'Entrar' }}
    </button>
  </form>
</mat-card>
